<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="ionic-mico-sdk"
    version="2.1.0">
    <name>MicoSDK</name>
    <description>Ionic MicoSDK bridge Plugin</description>
    <license>Apache 2.0</license>
    <keywords>ionic,microsdk</keywords>
    <!-- <repo>git@github.com:Qianxun/ionic-microsdk-plugin.git</repo> -->

    <js-module src="www/MicoSDK.js" name="easyLink">
        <clobbers target="easyLink" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="EasyLink">
                <param name="android-package" value="com.thomas.easylink.EasyLink"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
		    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/src/com/thomas/easylink/EasyLink.java" target-dir="src/com/thomas/easylink" />
        <source-file src="src/android/src/com/thomas/easylink/UDPServer.java" target-dir="src/com/thomas/easylink" />
        <source-file src="src/android/libs/easylink_sdk.jar" target-dir="libs" />
        
     </platform>
  <platform name = "ios">
        <config-file target="config.xml" parent="/*">
            <feature name="EasyLink">
                <param name="ios-package" value="CDVEasyLink" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVEasyLink.h" />
        <source-file src="src/ios/CDVEasyLink.m" />
        <source-file src="src/ios/EasyLinkSDK" />

        
        <framework src="AssetsLibrary.framework" />
        <framework src="AddressBook.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="SystemConfiguration.framework" />
       <framework src="MobileCoreServices.framework" />
        <framework src="CoreGraphics.framework" />
    </platform>
</plugin>
